a {
    text-decoration: none;
    position: relative;
    color: #911d27;
}

a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #911d27;
    transition: 0.4s;
}

a:hover:after {
    width: 100%;
}